<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item active"><i class="fas fa-users mr-2"></i>Clientes</li>
</ol>
<form #ngForm="ngForm" (submit)="pesquisar()">
    <div class="row">
        <div class="col-md-6">
            <label for="inputNome">Nome:</label>
            <input type="text" id="inputNome" [(ngModel)]="nome" name="nome" class="form-control">
        </div>   
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputMes">CPF:</label>
                <input type="text" id="inputNome" [(ngModel)]="cpf" name="nome" class="form-control" mask="000.000.000-00">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> Pesquisar
            </button>

            <button type="button" class="btn btn-warning ml-3" (click)="novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>
    </div>
</form>

<br />

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert" *ngIf="getItensPagina().length == 0 && mensagemArlet">
                    <i class="fas fa-exclamation-triangle"></i>{{ mensagemArlet }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="fecharAlert()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="getItensPagina().length > 0 && mensagemSuccess">
                    <i class="fas fa-check mr-2"></i>{{ mensagemSuccess }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="fecharAlert()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="mensagemError">
                    <i class="fas fa-exclamation-triangle"></i> {{ mensagemError }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="fecharAlert()"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data Cadastro</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of getItensPagina()">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td><span class="badge bg-secondary text-white">{{ cliente.dataCadastro }}</span></td>
                    <td>
                        <button class="btn btn-link" routerLink="/clientes/form/{{ cliente.id }}" tooltip="Editar">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button class="btn btn-link-danger ml-2" data-toggle="modal" tooltip="Excluir"
                                data-target="#modalDelecao" (click)="preparaDelecao(cliente)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-center">
    <pagination [(ngModel)]="paginaAtual"
                [totalItems]="clientes.length"
                [itemsPerPage]="itensPorPagina"
                (pageChanged)="paginaAnterior()"
                (pageChanged)="proximaPagina()"
                [maxSize]="5"
                [boundaryLinks]="true"
                [rotate]="true"
                firstText="Inicio"
                previousText="Anterior"
                nextText="Próximo"
                lastText="Fim"/>
</div>

<div id="modalDelecao" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirmar a exclusão do cliente?</h4>
            </div>
            <div class="modal-body" *ngIf="clienteSelecionado">
                Nome: {{ clienteSelecionado.nome }}<br/>
                CPF: {{ clienteSelecionado.cpf }}<br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="deletarCliente()" data-dismiss="modal">Sim</button>
                <button class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>