<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item active"><i class="fas fa-home mr-2"></i>Bem vindo</li>
</ol>
<div class="row mb-4">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body"><i class="fas fa-users mr-2 fa-2x"></i>Quantidade de Clientes</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#" routerLink="/clientes/lista">Ver detalhes</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body"><i class="fas fa-shopping-bag mr-2 fa-2x"></i>Quantidade de Serviços</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#" routerLink="/servico-prestado/lista">Ver detalhes</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>